body {
    background-image: linear-gradient(35deg,#ccf9ff,#ffcecc);
}

.Main {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}

.Heading {
    font-size: 46px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.field {
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    margin-bottom: 20px;
    padding: 7px;
    outline: none;
}

.button {
    background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    outline: none;
}

.button a{
    color: #000;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}